.slidev-layout {
  font-size: 100%;
  color: #334155;
  background-color: #f8fafc;
  border: 12px solid #67e8f9;

  p {
    ine-height: 1.6
  }

  p,
  blockquote {
    @apply mt-3;
    @apply mb-0;
  }

  ul {
    @apply mt-3;
  }

  li > ul {
    @apply mt-0.5;
  }

  h2,
  h3,
  h4,
  h5 {
    @apply mt-3;
  }

  h1 {
    font-weight: 800;
  }

  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p {
    @apply mt-1;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  h5 {
    @apply text-base font-bold;
  }

  blockquote {
    @apply px-4 py-2;
    @apply border-l-2;
    @apply bg-slate-200;
    @apply text-base;
  }

  :not(pre) > code {
    @apply text-sm;
    color: #e01e5a;
    background-color: #f2f1f0;
    @apply p-1;
    @apply rounded-md;
  }

  :not(pre) > code::before {
    content: '`' !important;
    color: #334155 !important;
  }

  :not(pre) > code::after {
    content: '`' !important;
    color: #334155 !important;
  }

  blockquote > p {
    @apply m-0;
  }
}

.slidev-layout.cover {
  h1 {
    @apply border-0;
  }
  h1:after {
    @apply border-0;
  }
}
